<div class="login-container">

    <md-card class="login-box" md-with-hover>
        <md-card-header>
            <h3 style="color: gray;" class="display-1"><!--img width="40" height="40" src="/assets/logo.png"-->
                __login.screen.application.name__
            </h3>
        </md-card-header>

        <md-card-content>
            <md-layout>

                <md-layout md-gutter md-flex="100">
                    <md-button @click.native="displayRing()" class="md-raised md-accent">
                        __test.display.ring__
                    </md-button>
                    <md-button @click.native="displayGauge()" class="md-raised md-accent">
                        __test.display.gauge__
                    </md-button>
                    <md-button @click.native="displaySmiley()" class="md-raised md-accent">
                        __test.display.smiley__
                    </md-button>
                    <md-button @click.native="displayWave()" class="md-raised md-accent">
                        __test.display.wave__
                    </md-button>
                </md-layout>

                <md-layout md-gutter md-flex="100">
                    <md-input-container>
                        <label for="selectedAccessPoint">__login.screen.accessPoints__</label>
                        <md-select name="selectedAccessPoint" id="selectedAccessPoint" v-model="selectedAccessPoint">
                            <md-option v-for="accessPoint in accessPoints" :value="accessPoint">{{accessPoint}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </md-layout>

                <md-layout md-gutter md-flex="100">
                    <md-input-container>
                        <label>__login.screen.password__</label>
                        <md-input type="password" v-model="password"></md-input>
                    </md-input-container>
                </md-layout>

                <md-layout md-gutter md-flex="100">
                    <md-button @click.native="connect()" class="md-raised md-accent">
                        __login.screen.connect__
                    </md-button>
                </md-layout>

            </md-layout>
        </md-card-content>
    </md-card>

</div>
